/* Общие стили */
ul, li
  padding 0
  margin 0
  list-style-type none
a
  color #fff
a:hover,
a:focus,
a:active,
a:visited
  text-decoration none
  color #fff

button
  border none
  cursor pointer

body
  font-family 'Roboto', sans-serif

.simple-page-content
  background-image url(../images/bg-dotted.jpg)

.page-title
  text-align center
  margin-bottom 40px
  color navColorGreen
/* /Общие стили */
