/* Переменные */
navColorGreen = #15c394 // Зеленый ховер нав.меню
/* /Переменные */

/* Мискины */
trs2()
  transition .2s ease
trs1()
  transition .1s ease

shadowMainSlider() // Пример
  text-shadow 7px 4px 20px #000000b3
/* /Мискины */
