// Контакты
.adress-frame
  border none
  min-height 260px

.adress
  background-color #fff
  padding 20px

.adress__article
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row

.adress__article-header
  font-size 18px
  padding-right 7px
  color grey

.adress__article-p
  font-size 18px
  color #000
  margin-bottom 7px

.adress__text
  font-size 14px
  color grey
  margin-top 3px
  margin-bottom 0
// /Контакты
