// Главная - Лэндинг
.main-prices__content
  position relative

.main-prices__content-ul
  position absolute
  top 0
  left 0
  opacity 0
  z-index -1
  trs2()
  width 100%
  text-align center
  font-size 22px
  padding 40px

.main-prices__content-ul.active
  opacity 1
  z-index 10

.main-prices__content-li
  strong
    margin-left 5px
    color navColorGreen
// /Главная - Лэндинг
