// Главная - Лэндинг
.main-prices__content
  position relative
  background-color #d3d3d347
  border 1px solid #15c394
  border-radius 10px
  box-shadow 5px 5px 15px -10px #808080

.main-prices__content-ul
  position absolute
  top 0
  left 0
  opacity 0
  z-index -1
  trs2()
  width 100%
  text-align center
  font-size 22px
  padding 40px 0
  // версия-2
  padding 30px 0 30px 30px
  text-align left

.main-prices__content-ul.active
  opacity 1
  z-index 10

.main-prices__content-li
  strong
    margin-left 6px
    color navColorGreen
    white-space nowrap

.main-prices-item__img
  padding 30px 0
// /Главная - Лэндинг
