extends ../blocks/header-sp
  
block headerUtp
  section.header-main-utp.header-main-utp_sp
    h1.header-main-utp__h1 ЗВОНИТЕ!
    h1.header-main-utp__h1 МЫ ПОМОЖЕМ ОТКРЫТЬ ЛЮБЫЕ ДВЕРИ! 
    h2.header-main-utp__h2 БЫСТРО И АККУРАТНО!
    p.header-main-utp__p 8 (029) 123 45 67
    .header-main-utp__button.header-main-utp__button_sp
      button.utp-button(data-toggle='modal' data-target='#callMaster') Вызвать мастера
     
