// Шапка Главной страницы
.header-main-utp
  text-align center
.header-main-utp__h1
  font-size 30px
  font-weight bold
.header-main-utp__h2
  font-size 23px
.header-main-utp__p
  font-size 30px
  font-weight bold
  color navColorGreen
.header-main-utp__button
  margin 10px 0 50px

.utp-button
  color #000
  font-size 20px
  font-weight bold
  background-color #c2ff2f
  border 2px solid #c2ff2f
  border-radius 10px
  padding 8px 28px
  cursor pointer
  trs2()
.utp-button:hover
  background-color #fff
  color navColorGreen
  border 2px solid navColorGreen
// /Шапка Главной страницы
