extends ../blocks/header
  
block headerUtp
  section.header-main-utp
    h1.header-main-utp__h1 ЗВОНИТЕ! МЫ ПОМОЖЕМ ОТКРЫТЬ ЛЮБЫЕ ДВЕРИ! 
    h2.header-main-utp__h2 БЫСТРО И АККУРАТНО!
    p.header-main-utp__p 8 (029) 123 45 67
    .header-main-utp__button
      button.utp-button(data-toggle='modal' data-target='#callMaster') Вызвать мастера
     
