extends ../templates/simple-page-sp.pug

include ../blocks/mixins
  
mixin services()
  section.main-prices
    .container
      +titleStrokeCenter('Услуги')
      .main-prices-item_row
        .row
          mixin mainPricesItem(header, img, footer, isActive)
            .col-12.col-md-6.col-lg-3
              section.main-prices-item(class= isActive)
                header.main-prices-item__header= header
                img.main-prices-item__img(src= img)
                footer.main-prices-item__footer= footer
                .main-prices-item__button-wrapper
                  button.main-prices-item__button Подробнее
          +mainPricesItem('Вскрытие замков', 'images/main-prices.png', 'от 250 рублей', 'active')
          +mainPricesItem('Вскрытие автомобиля', 'images/main-prices.png', 'от 900 рублей')
          +mainPricesItem('Вскрытие сейфа', 'images/main-prices.png', 'от 1200 рублей')
          +mainPricesItem('Вскрытие дверного замка', 'images/main-prices.png', 'от 500 рублей')
        section.main-prices__content
          ul.main-prices__content-ul.active
            li.main-prices__content-li Замок почтового ящика
              strong от 250 руб.
            li.main-prices__content-li Отечественный дверной замок
              strong от 700 руб.
            li.main-prices__content-li Импортный дверной замок
              strong от 1200 руб.
            li.main-prices__content-li Взломостойкий дверной замок
              strong от 1800 руб.
            li.main-prices__content-li Гаражный замок
              strong от 1300 руб.
          ul.main-prices__content-ul
            li.main-prices__content-li Отечественный автомобиль
              strong от 900 руб.
            li.main-prices__content-li Импортный автомобиль
              strong от 1700 руб.
            li.main-prices__content-li Автомобиль премиум класса
              strong от 2000 руб.
            li.main-prices__content-li Багажник, капот, бензобак
              strong от 1500 руб.
          ul.main-prices__content-ul
            li.main-prices__content-li Отечественный сейф
              strong от 1200 руб.
            li.main-prices__content-li Импортный сейф
              strong от 1800 руб.
            li.main-prices__content-li Электромеханический сейф
              strong от 2000 руб.
            li.main-prices__content-li Сейф с двойной защитой
              strong от 2500 руб.
          ul.main-prices__content-ul
            li.main-prices__content-li Замена цилиндра замка
              strong от 500 руб.
            li.main-prices__content-li Замена замка б/р двери
              strong от 1000 руб.
            li.main-prices__content-li Замена замка с разб. двери
              strong от 1800 руб.
            li.main-prices__content-li Перекодировка замка
              strong от 1500 руб.

block header
  header.header.header-main.header-sp
    include ../blocks/main-header-sp

block content
  +services()
  section.why-us
    //- +tabs()
    //- hr(style='padding-top: 20px')
    hr(style='padding-top: 0')
    .container
      +titleStrokeCenter('Почему мы?')
      .section.why-us__item
        .why-us-item__row
          .row.d-flex.align-items-center
            .d-none.d-sm-flex.justify-content-end.pr-2.pr-md-4.pr-lg-5.col-sm-2
              .why-us__item-number 1
            .col-12.col-sm-10
              .why-us__item-article
                h1.why-us__item-article-header-h1 Комплексный подход
                p.why-us__item-article-p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
        .why-us-item__row
          .row.d-flex.align-items-center
            .d-none.d-sm-flex.justify-content-end.pr-2.pr-md-4.pr-lg-5.col-sm-3
              .why-us__item-number 2
            .col-12.col-sm-9
              .why-us__item-article
                h1.why-us__item-article-header-h1 Профессионализм
                p.why-us__item-article-p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
        .why-us-item__row
          .row.d-flex.align-items-center
            .d-none.d-sm-flex.justify-content-end.pr-2.pr-md-4.pr-lg-5.col-sm-2
              .why-us__item-number 3
            .col-12.col-sm-10
              .why-us__item-article
                h1.why-us__item-article-header-h1 Соблюдение законодательства
                p.why-us__item-article-p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
        .why-us-item__row
          .row.d-flex.align-items-center
            .d-none.d-sm-flex.justify-content-end.pr-2.pr-md-4.pr-lg-5.col-sm-3
              .why-us__item-number 4
            .col-12.col-sm-9
              .why-us__item-article
                h1.why-us__item-article-header-h1 Срочный приезд за 15 минут
                p.why-us__item-article-p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
  //- +services()
block seoText
  section.simple-page-content
    .container
      .row.flex-column-reverse.flex-md-row
        .col-12.col-md-6
          iframe.adress-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb66e533a6c3092e1ac1565e2c884810f4a7fceb5bec898c602187eeac262155&amp;source=constructor" width="100%" height="100%" frameborder="1" allowfullscreen="true")
        .col-12.col-md-6.mb-4.mb-md-0
          +titleStrokeRight('Контакты')
          section.adress
            mixin adress(ttl, txt)
              article.adress__article.d-flex.flex-row.flex-wrap
                header.adress__article-header= ttl
                p.adress__article-p= txt
            +adress('Email:', 'zamokvscroem@mail.ru')
            +adress('Телефон:', '8 (029) 123 45 67')
            +adress('Адрес:', 'Минск, ул.Красная д.11')
            +adress('Режим работы:', 'с 8:00 до 20:00')
            p.adress__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев 
  
  //- section.seo-text
  //-   .container
  //-     article
  //-       header
  //-         +titleStrokeCenter('Заголовок статьи')
  //-       img.seo-text__img(src='images/main-article-key.png')
  //-       section.seo-text__text
  //-         p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
  //-         p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом ипридаст неповторимый колорит советских времен.
      
