// Цены
.prices__header
  background-color rgba(#000000, 0.7)
  font-size 20px
  color #fff
  font-weight bold
  padding 10px 5px
  border-top-left-radius 10px
  border-top-right-radius 10px

.simple-page-content__p
  font-size 16px

.prices__header-value
.prices__values-value
  text-align center

.prices__values-row
  font-size 18px
  color #000
  padding 10px 5px
  margin-top 2px
  margin-bottom 2px
  background-color #fff
  trs1()
.prices__values-ttl
.prices__values-value
  trs1()
.prices__values-row:hover
  background-color #d3d3d361
  .prices__values-ttl
  .prices__values-value
    font-weight bold
    font-size 19px

.prices__values-btn
  display inline-block
  font-size 18px
  color #fff
  font-weight bold
  background-color rgba(0,0,0,0.7)
  border-radius 10px
  padding 5px 10px
  border 2px solid transparent
  trs2()
.prices__values-btn:hover
  background-color #fff
  color #000
  border 2px solid #000
// /Цены
