// Футер Landing Page
.footer-form
  border 1px solid navColorGreen
  border-radius 10px
  background-color grey
  display -webkit-flex
  display -ms-flex
  display flex
  flex-wrap wrap
  justify-content space-around
  padding 3px 10px

.footer-form__input
  padding 4px 10px
  border 1px solid
  border-radius 5px
  font-size 14px
  height 35px
  margin 10px 0

.footer-form__submit
  background-color red
  border none
  border-radius 5px
  color #fff
  height 35px
  margin 10px 0
  padding 0 25px
  cursor pointer

.footer-logo
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  align-items center

.footer-logo__img
  height 100px

.footer__text
  color #fff
  padding-left 30px
  font-style italic

.footer__text-p
  margin 0px
  font-size 16px

.footer__text-p:first-child
  margin-bottom 10px

.form__before
.form__after
  color #fff

.form__before
  padding-bottom 10px
.form-before__span
  font-weight bold
  color navColorGreen

.form__after
  font-size 12px
  padding-top 10px

.copyright
  color #fff
  opacity .7
  font-size 13px

.dev
  text-align right
.dev__img
  height 26px
  // opacity .8
  opacity 1
// .dev__img:hover
//   opacity 1

.dev__span
  margin-right 20px
  font-size 13px
  opacity 0.7
.footer-sp__bottom
  padding 14px 0
  background-color #202020

.footer-sp__separ
  width 100%
  height 0
  border-bottom 1px solid #fff
  opacity .7

.site-footer-sp
  background-color #171717
// /Футер Landing Page
