// Заголовок зачеркнутый. Центр
.title-stroke-center
  text-align center
  overflow hidden
.title-stroke-center__h1
  display inline-block
  min-width 200px
  padding 0 40px
  position relative
  font-weight bold
  font-size 24px
  text-transform uppercase
.title-stroke-center__h1:before
  content ''
  position absolute
  right 100%
  top 50%
  transform translateY(-50%)
  width 2000px
  height 2px
  background-color lightgrey
.title-stroke-center__h1:after
  content ''
  position absolute
  left 100%
  top 50%
  transform translateY(-50%)
  width 2000px
  height 2px
  background-color lightgrey
// /Заголовок зачеркнутый. Центр

// Заголовок зачеркнутый. Центр
.title-stroke-right
  overflow hidden
  text-align left
.title-stroke-right__h1
  display inline-block
  min-width 200px
  padding-right 30px
  position relative
  text-transform uppercase
  font-weight bold
  font-size 24px
.title-stroke-right__h1:after
  content ''
  position absolute
  left 100%
  top 50%
  transform translateY(-50%)
  width 2000px
  height 2px
  background-color lightgrey

// /Заголовок зачеркнутый. Центр
