// Модальные окна

// Вызвать мастера
.call-master-form
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column

.call-master-form__input
.call-master-form__textarea
  border-radius 5px
  padding 10px
  border-radius 7px
  padding 15px 20px
  margin-bottom 7px
  font-size 14px
  font-style italic
  color #15c394
  border 1px solid grey
.call-master-form__input::placeholder
.call-master-form__textarea::placeholder
  font-size 14px
  font-style italic
  color #15c394

.call-master-form__input
  margin-bottom 5px

.call-master-form__submit
  text-align center
  .utp-button
    display inline-block
    margin-top 20px
    margin-bottom 10px

// Заказать звонок
.call-back-form__submit
  text-align center
  .any-questions__button
    display inline-block
    margin-top 20px
    margin-bottom 10px

  // Bootstrap
.modal-content
  background-color #f3f3f3
  border 2px solid navColorGreen
  border-radius 7px
.modal-header
  text-align center
  justify-content center
.modal-header
  .close
    position absolute
    right 15px
    top 10px

// /Модальные окна
